:root {
  --van-primary-color: #ffe28a;
  --van-danger-color: #a93d3d;
  --van-button-primary-color: #332e28;
  --van-button-primary-background: #ffe28a;
  --van-button-primary-border-color: #ffe28a;
  --van-button-radius: 14px;
  --van-text-color: #332e28;
  --van-text-color-2: #716452;
  --van-background: #fffdf8;
  --van-background-2: #ffffff;
  --van-border-color: #eadcc4;
}
